## Nombre : Josue Alejandro Sauca Pucha
## Fecha : 05-06-2023

Dato el siguiente archivo

calcular el soporte y la confianza para la regla: "Si una persona compra manzanas tambi compra bananas"

Tome en cosideración que los features del dataset son: pan, leche,queso,manzanas y bananas en ese orden

In [95]:
import pandas as pd

data=pd.read_csv('affinity_dataset.txt', sep=" ",header=None,names=['pan','leche','queso','manzanas','bananas'])

In [96]:
data

    pan  leche  queso  manzanas  bananas
0     0      1      0         0        0
1     1      1      0         0        0
2     0      0      1         0        1
3     1      1      0         0        0
4     0      0      1         1        1
..  ...    ...    ...       ...      ...
95    0      0      1         1        1
96    1      1      1         1        0
97    0      1      0         0        1
98    0      1      0         0        1
99    1      1      0         1        1

[100 rows x 5 columns]

In [99]:
#Con el signo & se realiza una interseccion de conjuntos entre
#ambas tablas, es decir va a arrojar los datos repetidos filas
soporte = ((data['manzanas']==1) & (data['bananas']==1)).value_counts()

In [100]:
soporte

False    73
True     27
dtype: int64

In [114]:
"""
Para calcular el soporte de a se lo debe hacer, mediante el calculo
de la frecuencia relativa, que es el numero de veces que se repite
un valor dentro de un conjunto de datos, en este caso
    
    1 = el numero de veces este valor es 43
    0 = el numero de veces este valor es 57
"""
soporte_a= (data['manzanas']==1).value_counts()
soporte_a

False    57
True     43
Name: manzanas, dtype: int64

In [115]:
confianza = soporte/soporte_a

In [116]:
confianza

False    1.280702
True     0.627907
dtype: float64