## Nombre : Josue Alejandro Sauca Pucha
## Fecha : 02-08-2023

In [44]:
import pandas as pd
from scipy.io import arff

datos, meta = arff.loadarff('diabetes.arff')
df = pd.DataFrame(datos)

df.count()

preg     768
plas     768
pres     768
skin     768
insu     768
mass     768
pedi     768
age      768
class    768
dtype: int64

In [6]:
df.head()

   preg   plas  pres  skin   insu  mass   pedi   age               class
0   6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  b'tested_positive'
1   1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  b'tested_negative'
2   8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  b'tested_positive'
3   1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  b'tested_negative'
4   0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  b'tested_positive'

In [12]:
type(df)

pandas.core.frame.DataFrame

In [40]:
# Aqui dividimos el conjunto de datos en uno para entrenamiento
#y otro para tes con la funcion train_test_split
#donde el 20 % de los datos se utilizar√° para pruebas
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(datos,test_size=0.20)

In [41]:
prueba = pd.DataFrame(train_data, columns = ['preg','plas','pres','skin','insu','mass','pedi','age','class'])

In [43]:
prueba.count()

preg     491
plas     491
pres     491
skin     491
insu     491
mass     491
pedi     491
age      491
class    491
dtype: int64

In [15]:
prueba.to_csv('prueba.csv',index=False)

In [27]:
entrenamiento = pd.DataFrame(test_data, columns = ['preg','plas','pres','skin','insu','mass','pedi','age','class'])
entrenamiento.count()

preg     154
plas     154
pres     154
skin     154
insu     154
mass     154
pedi     154
age      154
class    154
dtype: int64

In [22]:
entrenamiento.to_csv('entrenamiento.csv',index=False)